.notification {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border-style: solid;
}

.success {
    background: lightgray;
    color: darkgreen;
    border: 1px solid green;
}

.error {
    background: lightgray;
    color: red;
    border: 1px solid red;
}

.blogFormEl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    width: 300px;
}

.blogFormEl input {
    width: 200px;
    text-align: right;
}