#root {
  padding: 10px;
  font-size: 20px;
}

p,
li {
  font-size: 15px;
}

.flag {
  width: 75%;
  height: auto;
}

.show-country {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
}

.button-country {
  display: flex;
  flex-direction: column;
}

.btn {
  color: black;
  background-color: aliceblue;
  font-size: 15px;
  min-width: 100px;
}

.btn-hide {
  align-self: flex-end;
}